<span class="pull-right">
    <i><small>Posted by Sergey Kolesnikov</small></i>
</span>

<h2 class="no-margin-top">
    Technical Manager
    <!--class="is-solid"-->
    <clr-icon shape="star" style="cursor: pointer !important; color: #e6a911;"></clr-icon>
</h2>
<span class="pull-right" style="margin-top: -24px">
    <i><small>18 February 2018</small></i>
</span>
<h4 class="no-margin-top"><a href="#">Mano</a>, Moscow</h4>

<br>
<div class="p-0">
    <strong>Обязанности:</strong>
    <br>
    <ul>
        <li>
            Разработка скриптов, модулей с использованием PHP, MySQL, Ajax на платформе LAMP, верстка интерфейсов.
        </li>
    </ul>
    <br>

    <strong>Требования:</strong>
    <ul>
        <li>
            Требуется знание: HTML, CSS, Java Script, PHP(ООП), хорошее знание jQuery
        </li>
        <li>
            Опыт работы с PHP фреймворком Yii2, JavaScript библиотекой Backbone желательны
        </li>
        <li>
            Опыт работы с CSS фреймворком Bootstrap, с SOAP
        </li>
    </ul>
    <br>

    <strong>Условия:</strong>
    <ul>
        <li>
            График работы: 5/2.
        </li>
        <li>
            Отношение директора компании к каждому члену нашей команды основано на честности и поддержке в любой
            жизненной
            ситуации. В связи с этим, потенциальный сотрудник должен обладать аналогичными качествами.
        </li>
        <li>
            Помимо всех выплат, предусмотренных трудовым законодательством, существует дополнительная материальная
            помощь, лично
            от директора в различных жизненных обстоятельствах, в том числе при рождении ребенка в семье сотрудника, в
            зависимости от стажа работы в компании, выплачивается до 40 000 рублей, в случае потери члена семьи
            выплачивается -
            до 15 000 рублей.
        </li>
        <li>
            Для многодетных семей предусмотрена надбавка к заработной плате в размере 10 %.
        </li>
        <li>
            Директор, понимая, что любой сотрудник имеет ежемесячные расходы (аренда квартиры, помощь близким, оплата
            детского
            садика, кредиты и т. д.) делает всегда и все, чтобы заработная плата выплачивалась всегда и только вовремя,
            независимо от ситуации в стране и кризисов — многолетняя практика это подтверждает.
        </li>
        <li>
            Мы заинтересованы в долговременном сотрудничестве, ждем Вас в нашу команду открытых, трудолюбивых и честных
            людей!
            Если Вы являетесь таким же человеком, то Вас без сомнения ждет быстрый карьерный рост (90% руководителей в
            компании
            начинали карьеру с линейных позиций).
        </li>
    </ul>
</div>

<br>

<a href="..." class="label label-blue clickable">
    Java
</a>
<a href="..." class="label label-orange clickable">
    Moscow
</a>
<a href="..." class="label label-light-blue clickable">
    MANO
</a>
<br>
<br>

<button class="btn btn-primary" (click)="applyopen = true">Apply for this vacancy</button>
<button class="btn btn-primary">Contact author</button>

<br>
<br>
<hr style="width: 75%; color: #fafafa; background-color:#fafafa; border-top: dotted 1px;"/>

<h3>Similar vacancies</h3>


<div class="row">
    <div class="col-md-6">
        <h5><a href="#">Technical Manager</a></h5>
        <p class="no-margin-top">
            <a href="#">MANO</a>, Moscow
        </p>

        <p class="p3 no-margin-top">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
            Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
            Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
            Phasellus tristique posuere dui, ut t...
        </p>
    </div>
    <div class="col-md-6">
        <h5><a href="#">Software Engineer</a></h5>
        <p class="no-margin-top">
            <a href="#">Fluence Labs Ltd</a>, Samara
        </p>

        <p class="p3 no-margin-top">
            Fluence is looking for a Software Engineer to join the backend team which is working on
            the end-to-end encrypted decentralized database.
            We believe that decentralization of data storage and transmission brings
            and security people store data, share and control....
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5><a href="#">Security Engineer</a></h5>
        <p class="no-margin-top">
            <a href="#">LATOKEN</a>, Moscow
        </p>

        <p class="p3 no-margin-top">
            Security of digital money and assets is a priority for our mission as we are a top target
            on the internet. We are looking for security professionals who can navigate high intensity
            challenges to build the core of the new financial system - its security and trust...
        </p>
    </div>
    <div class="col-md-6">
        <h5><a href="#">Blockchain Developer</a></h5>
        <p class="no-margin-top">
            <a href="#">LATOKEN</a>, Toronto
        </p>

        <p class="p3 no-margin-top">
            Analyse top blockchain solutions for high frequency decentralized exchanges (including graph
            chains)
            Define architecture and development cycles for our blockchain platform capable to absorb fast
            evolving technologies
            Design and create layers of replication to blockchain...
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5><a href="#">Technical Manager</a></h5>
        <p class="no-margin-top">
            <a href="#">MANO</a>, Moscow
        </p>

        <p class="p3 no-margin-top">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
            Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
            Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
            Phasellus tristique posuere dui, ut t...
        </p>
    </div>
    <div class="col-md-6">
        <h5><a href="#">Software Engineer</a></h5>
        <p class="no-margin-top">
            <a href="#">Fluence Labs Ltd</a>, Samara
        </p>

        <p class="p3 no-margin-top">
            Fluence is looking for a Software Engineer to join the backend team which is working on
            the end-to-end encrypted decentralized database.
            We believe that decentralization of data storage and transmission brings
            and security people store data, share and control....
        </p>
    </div>
</div>

<br>
<br>

<clr-modal class="modal-sm" [(clrModalOpen)]="applyopen" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Apply for a vacancy</h3>
    <div class="modal-body">
        <p><strong>Technical Manager</strong></p>
        <p class="no-margin-top">MANO, Moscow</p>
        <br>
        <div class="alert alert-danger no-margin-top">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                            You profile is not filled!
                        </span>
                    <div class="alert-actions">
                        <div class="alert-action dropdown bottom-right">
                            <a href="#">Go to Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <label for="ta_1"><strong>Cover letter</strong></label>
        <textarea id="ta_1" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="applyopen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="applyopen = false">Apply</button>
    </div>
</clr-modal>
