<h2 class="no-margin-top">Recommended</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="/vacancy/1">Technical Manager</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">MANO</a>, Moscow
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
                        Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
                        Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
                        Phasellus tristique posuere dui, ut t...
                    </p>
                    <button class="btn btn-link" (click)="applyopen = true">Apply</button>
                    <button class="btn btn-link">Contact</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="#">Software Engineer</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">Fluence Labs Ltd</a>, Samara
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Fluence is looking for a Software Engineer to join the backend team which is working on
                        the end-to-end encrypted decentralized database.
                        We believe that decentralization of data storage and transmission brings
                        and security people store data, share and control....
                    </p>
                    <button class="btn btn-link">Apply</button>
                    <button class="btn btn-link">Contact</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="#">Security Engineer</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">LATOKEN </a>, Moscow
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Security of digital money and assets is a priority for our mission as we are a top target
                        on the internet. We are looking for security professionals who can navigate high intensity
                        challenges to build the core of the new financial system - its security and trust...
                    </p>

                    <button class="btn btn-link">Apply</button>
                    <button class="btn btn-link">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="#">Business Development Manager</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">March HR Services</a>, CIS
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Business Development Manager – Banking IT solutions industry
                        Responsibilities:
                        Research, develop and maintain new relationships with potential key clients.
                        Identify business opportunities through cold calling, networking and attending
                        events and conferences, and negotiate and close deals....
                    </p>

                    <button class="btn btn-link">Apply</button>
                    <button class="btn btn-link">Contact</button>
                    <!--<p class="p7 pull-right no-margin-top" style="padding-top: 12px">18 February 2018</p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="#">Blockchain Developer</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">LATOKEN</a>, Toronto
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Analyse top blockchain solutions for high frequency decentralized exchanges (including graph
                        chains)
                        Define architecture and development cycles for our blockchain platform capable to absorb fast
                        evolving technologies
                        Design and create layers of replication to blockchain...
                    </p>

                    <button class="btn btn-link">Apply</button>
                    <button class="btn btn-link">Contact</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <a href="#">Software Engineer</a>
            </div>
            <div class="card-block no-margin-top">
                <div class="card-text d-inline">
                    <h6 class="no-margin-top">
                        <a href="#">MANO</a>, Moscow
                    </h6>

                    <!--16 February-->
                    <p class="p3 no-margin-top">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
                        Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
                        Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
                        Phasellus tristique posuere dui, ut t...
                    </p>

                    <button class="btn btn-link">Apply</button>
                    <button class="btn btn-link">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 style="margin-bottom: 12px">Work at</h2>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Cloud MANO</strong></a>
                <span class="pull-right">24</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Digital Platform</strong></a>
                <span class="pull-right">19</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Telefonica Italia Phase 2</strong></a>
                <span class="pull-right">9</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Cloud CPE Solutions</strong></a>
                <span class="pull-right">12</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>DT Application Orchestrator</strong></a>
                <span class="pull-right">4</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Digital Platform</strong></a>
                <span class="pull-right">19</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Telefonica Italia Phase 2</strong></a>
                <span class="pull-right">9</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Cox Canadian</strong></a>
                <span class="pull-right">28</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Cloud MANO</strong></a>
                <span class="pull-right">24</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Digital Platform</strong></a>
                <span class="pull-right">19</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Telefonica Italia Phase 2</strong></a>
                <span class="pull-right">9</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <a href="#"><strong>Cloud CPE Solutions</strong></a>
                <span class="pull-right">12</span>
            </div>
        </div>
    </div>
</div>

<br>
<hr style="width: 75%; color: #fafafa; background-color:#fafafa; border-top: dotted 1px;"/>

<div class="row">
    <div class="col-md-6">
        <h2>Hot</h2>
        <div class="row">
            <div class="col-md-6">
                <h4><a href="#">Technical Manager</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">MANO</a>, Moscow
                </h6>

                <p class="p3 no-margin-top">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
                    Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
                    Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
                    Phasellus tristique posuere dui, ut t...
                </p>
            </div>
            <div class="col-md-6">
                <h4><a href="#">Software Engineer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">Fluence Labs Ltd</a>, Samara
                </h6>

                <p class="p3 no-margin-top">
                    Fluence is looking for a Software Engineer to join the backend team which is working on
                    the end-to-end encrypted decentralized database.
                    We believe that decentralization of data storage and transmission brings
                    and security people store data, share and control....
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4><a href="#">Security Engineer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">LATOKEN</a>, Moscow
                </h6>

                <p class="p3 no-margin-top">
                    Security of digital money and assets is a priority for our mission as we are a top target
                    on the internet. We are looking for security professionals who can navigate high intensity
                    challenges to build the core of the new financial system - its security and trust...
                </p>
            </div>
            <div class="col-md-6">
                <h4><a href="#">Blockchain Developer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">LATOKEN</a>, Toronto
                </h6>

                <p class="p3 no-margin-top">
                    Analyse top blockchain solutions for high frequency decentralized exchanges (including graph
                    chains)
                    Define architecture and development cycles for our blockchain platform capable to absorb fast
                    evolving technologies
                    Design and create layers of replication to blockchain...
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>New</h2>
        <div class="row">
            <div class="col-md-6">
                <h4><a href="#">Technical Manager</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">MANO</a>, Moscow
                </h6>

                <p class="p3 no-margin-top">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi.
                    Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit.
                    Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna.
                    Phasellus tristique posuere dui, ut t...
                </p>
            </div>
            <div class="col-md-6">
                <h4><a href="#">Security Engineer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">LATOKEN</a>, Moscow
                </h6>

                <p class="p3 no-margin-top">
                    Security of digital money and assets is a priority for our mission as we are a top target
                    on the internet. We are looking for security professionals who can navigate high intensity
                    challenges to build the core of the new financial system - its security and trust...
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4><a href="#">Blockchain Developer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">LATOKEN</a>, Toronto
                </h6>

                <p class="p3 no-margin-top">
                    Analyse top blockchain solutions for high frequency decentralized exchanges (including graph
                    chains)
                    Define architecture and development cycles for our blockchain platform capable to absorb fast
                    evolving technologies
                    Design and create layers of replication to blockchain...
                </p>
            </div>
            <div class="col-md-6">
                <h4><a href="#">Software Engineer</a></h4>
                <h6 class="no-margin-top">
                    <a href="#">Fluence Labs Ltd</a>, Samara
                </h6>

                <p class="p3 no-margin-top">
                    Fluence is looking for a Software Engineer to join the backend team which is working on
                    the end-to-end encrypted decentralized database.
                    We believe that decentralization of data storage and transmission brings
                    and security people store data, share and control....
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<hr style="width: 75%; color: #fafafa; background-color:#fafafa; border-top: dotted 1px;"/>

<!--<div class="gray-row">-->
<h2>What is Jobo</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales odio mi, in volutpat orci tincidunt in.
    Phasellus ut est non ex tempor commodo at sit amet tellus. Vestibulum ultricies magna vitae viverra luctus.
    Sed tristique, metus ut lobortis aliquam, diam leo pulvinar ipsum, eget aliquam mi ligula vel odio. Integer odio
    enim, elementum et ex et, fringilla imperdiet justo. In in tincidunt tortor. Vestibulum placerat maximus ante
    vel
    cursus. Nulla in ante sit amet felis facilisis pulvinar at vel dolor. Quisque tortor lectus, viverra ut euismod
    vel,
    sollicitudin vitae odio. Vestibulum ut consectetur odio. Quisque malesuada porttitor dapibus. Class aptent
    taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sed augue bibendum, dapibus libero
    eu,
    convallis purus. Sed mauris turpis, consequat sit amet nulla sit amet, mollis congue turpis.
</p>
<p>
    Quisque dignissim sem a ex accumsan euismod. Mauris turpis mauris, pharetra viverra metus ac, bibendum rutrum
    nulla.
    Cras vestibulum scelerisque sapien et egestas. In luctus velit posuere turpis suscipit volutpat. Pellentesque in
    ipsum sagittis, gravida orci ac, lacinia purus. Proin vel felis libero. Etiam consectetur magna in magna
    pretium,
    non tincidunt lectus gravida. Sed ac condimentum dui. Sed commodo rhoncus facilisis. Aliquam erat mi,
    pellentesque
    vitae dignissim sit amet, consequat eget mauris. Vivamus sodales lacinia quam dapibus placerat. Ut tellus
    turpis,
    gravida ac ullamcorper nec, rhoncus eget tellus. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Duis mattis quis nunc nec bibendum. Donec venenatis hendrerit leo, sit amet
    feugiat nulla tincidunt placerat.
</p>
<p>
    Curabitur nec risus non lacus elementum imperdiet. Proin sem nisl, vulputate non libero laoreet, elementum
    rutrum
    nibh. Sed sit amet fermentum elit. Pellentesque id elementum lectus, eu sagittis ante. Ut vulputate lorem nibh.
    Pellentesque dignissim semper arcu, elementum imperdiet quam blandit eget. Duis libero libero, vestibulum id
    elit
    eu, suscipit efficitur dui.
</p>
<br>
<a class="text-center" href="/mission">Read more about Jobo mission...</a>
<!--</div>-->

<clr-modal class="modal-sm" [(clrModalOpen)]="applyopen" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Apply for a vacancy</h3>
    <div class="modal-body">
        <p><strong>Technical Manager</strong></p>
        <p class="no-margin-top">MANO, Moscow</p>
        <br>
        <div class="alert alert-danger no-margin-top">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                            You profile is not filled!
                        </span>
                    <div class="alert-actions">
                        <div class="alert-action dropdown bottom-right">
                            <a href="#">Go to Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <label for="ta_1"><strong>Cover letter</strong></label>
        <textarea id="ta_1" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="applyopen = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="applyopen = false">Apply</button>
    </div>
</clr-modal>
