.fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.bg4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

footer {
    margin-top: 48px;
    padding-top: 12px;
    padding-bottom: 24px;
}
